/*
link   : http://grace.hcoder.net
author : 刘海君 5213606@qq.com 
verson : 3.0
last update date : 2020-10-23
GraceUI 的版权约束是不能转售或者将 GraceUI 直接发布到公开渠道！侵权必究，请遵守版权约定！
GraceUI 软著号 2019SR0533188 版权机器人启动中，侵权会追责，请遵守极其简单的版权规定
*/
.grace-opacity{opacity:0.9;}
/* flex 布局 */
.grace-rows{flex-direction:row;}
.grace-columns{flex-direction:column;}
.grace-wrap{ flex-direction:row; flex-wrap:wrap;}
.grace-nowrap{flex-direction:row; flex-wrap:nowrap;}
.grace-space-between{flex-direction:row; flex-wrap:nowrap; justify-content:space-between;}
.grace-flex-center{flex-direction:row; justify-content:center;}
.grace-flex-end{flex-direction:row; justify-content:flex-end;}
.grace-flex-vtop{align-items:flex-start;}
.grace-flex-vcenter{align-items:center;}
.grace-flex-vbottom{align-items:flex-end;}
.grace-flex1{flex:1;}
.grace-flex-v1{flex-direction:column; flex:1;}
/* 内外间距 */
.grace-padding{padding:0 25rpx;}
.grace-margin{margin:0 25rpx;}
.grace-body{width:750rpx; padding-left:25rpx; padding-right:25rpx;}
.grace-margin-top{margin-top:30rpx;}
.grace-padding-top{padding-top:30rpx;}
/* 文字颜色 */
.grace-black{color:#333333;}
.grace-black6{color:#666666;}
.grace-black9{color:#999999;}
.grace-white{color:#FFFFFF;}
.grace-blue{color:#3687FF;}
.grace-light-blue{color:#AFCFFF;}
.grace-blue-sky{color:#61CBEF;}
.grace-gray{color:#A5A7B2;}
.grace-red{color:#FF0036;}
.grace-yellow{color:#FFCC00;}
.grace-light-yellow{color:#ECD1A8;}
.grace-green{color:#9DD26D;}
/* 背景颜色 */
.grace-bg-black{background-color:#000000; color:#FFFFFF;}
.grace-bg-white{background-color:#FFFFFF;}
.grace-bg-blue{background-color:#3687FF; color:#FFFFFF;}
.grace-bg-blue-sky{background-color:#61CBEF; color:#FFFFFF;}
.grace-bg-gray{background-color:#A5A7B2;}
.grace-bg-light-gray{background-color:#F8F8F8;}
.grace-bg-red{background-color:#FF0036; color:#FFFFFF;}
.grace-bg-green{background-color:#9DD26D; color:#FFFFFF;}
.grace-bg-yellow{background-color:#FFCC00;color:#FFFFFF; }
.grace-bg-light-blue{background-color:#AFCFFF; color:#FFFFFF;}
.grace-bg-light-yellow{background-color:#ECD1A8; color:#FFFFFF;}
/* 渐变背景 */
.grace-gtbg-blue{background-image:linear-gradient(to right, #B100FF,#00B3FF);}
.grace-gtbg-pink{background-image:linear-gradient(to right, #FF0066,#CA00FF);}
.grace-gtbg-green{background-image:linear-gradient(to right, #39B55A,#8DC63E);}
.grace-gtbg-purple{background-image:linear-gradient(to right, #F000EE,#6E00FF);}
.grace-gtbg-orange{background-image:linear-gradient(to right, #FFCD00,#FF9B00) ;}
.grace-gtbg-blue-sky{background-image:linear-gradient(to right, #00FFD5 ,#008CFF);}
/* 定位 */
.grace-absolute-lt{position:absolute; left:0; top:0;}
.grace-absolute-rt{position:absolute; right:0; top:0;}
.grace-absolute-lb{position:absolute; left:0; bottom:0;}
.grace-absolute-rb{position:absolute; right:0; bottom:0;}
/* 边框 */
.grace-border{border-style:solid; border-width:1px; border-color:#F1F2F3;}
.grace-border-l{border-left-style:solid; border-left-width:1px; border-left-color:#F1F2F3;}
.grace-border-r{border-right-style:solid; border-right-width:1px; border-right-color:#F1F2F3;}
.grace-border-t{border-top-style:solid; border-top-width:1px; border-top-color:#F1F2F3;}
.grace-border-b{border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#F1F2F3;}
.grace-noborder{border-right-width:0; border-top-width:0; border-left-width:0; border-bottom-width:0;}
/* 圆角 */
.grace-border-radius{border-radius:100rpx;}
.grace-border-radius-small{border-radius:10rpx;}
/*  文本  */
.grace-h1{font-size:80rpx;}
.grace-h2{font-size:60rpx;}
.grace-h3{font-size:45rpx;}
.grace-h4{font-size:32rpx;}
.grace-h5{font-size:30rpx;}
.grace-h6{font-size:28rpx;}
.grace-bold{font-weight:bold;}
.grace-text{font-size:26rpx; line-height:50rpx;}
.grace-desc{font-size:24rpx; line-height:44rpx;}
.grace-text-small{font-size:22rpx; line-height:40rpx;}
.grace-line-through{text-decoration:line-through;}
.grace-italic{font-style:italic;}
.grace-ellipsis{overflow:hidden; text-overflow:ellipsis;}
.grace-text-left{text-align:left;}
.grace-text-center{text-align:center;}
.grace-text-right{text-align:right;}
.grace-center{text-align:center;}
/* 吸顶容器 */
.grace-fixed-top{width:750rpx; position:fixed; left:0; top:0;}
/* 宫格 */
.grace-grids{padding:0; flex-wrap:wrap; flex-direction:row;}
.grace-grids-items{width:175rpx; padding-top:20rpx; padding-bottom:20rpx; flex-direction:column; align-items:center;}
.grace-grids-icon{width:80rpx; height:80rpx; font-size:60rpx; line-height:80rpx; text-align:center;}
.grace-grids-icon-img{width:80rpx; height:80rpx; border-radius:6rpx;}
.grace-grids-text{line-height:50rpx; text-align:center; font-size:24rpx; margin-top:2px;}
/* 头部导航 */
.grace-header-body{flex-direction:row; flex-wrap:nowrap; align-items:center; width:750rpx; flex:1;}
.grace-header-icons{width:44px; height:44px; line-height:44px; text-align:center; font-size:26px;}
.grace-header-content{width:300rpx; line-height:44px; flex:1; flex-direction:row; flex-wrap:nowrap; align-items:center;}
.grace-header-content-noflex{width:750rpx; flex:1;}
.grace-header-text{font-size:28rpx; margin:0 10rpx;}
.grace-header-face{width:30px; height:30px; border-radius:30px; margin:0 10rpx;}
.grace-header-leader{width:150rpx; height:60rpx; border-radius:60px; background-color:rgba(0,0,0,0.1); margin-left:20rpx; padding-left:15rpx; padding-right:15rpx;}
.grace-header-leader-btns{width:60rpx; height:60rpx; line-height:60rpx; text-align:center; font-size:36rpx; font-weight:bold;}
/* 底部导航 */
.grace-footer{position:fixed; z-index:2; left:0; bottom:0; background-color:#FFFFFF; width:750rpx; overflow:hidden;}
.grace-footer-button{width:230rpx; font-size:30rpx; border-radius:0; height:100rpx; line-height:100rpx;}
.grace-footer-button:after{width:0; height:0;}
.grace-footer-input-body{width:700rpx; flex:1; padding:0 20rpx; height:66rpx; flex-direction:row; flex-wrap:nowrap; background-color:#F5F6F8; border-radius:66rpx; margin:15rpx 20rpx; margin-right:0rpx; align-items:center;}
.grace-footer-input-icon{width:66rpx; text-align:center; line-height:66rpx; font-size:32rpx; color:#888888;}
.grace-footer-input{width:700rpx; flex:1; font-size:26rpx; height:32rpx; line-height:32rpx; padding:0; overflow:hidden;}
.grace-footer-subtext{padding:0 25rpx; font-size:26rpx;}
/* 列表 */
.grace-list{}
.grace-list-items{flex-wrap:nowrap; flex-direction:row; align-items:center;}
.grace-list-icon{width:80rpx; height:80rpx; line-height:80rpx; text-align:center; font-size:46rpx;}
.grace-list-image{width:80rpx; height:80rpx; border-radius:80rpx;}
.grace-list-body{padding-top:26rpx; margin-left:26rpx; padding-bottom:26rpx; width:700rpx; flex:1;}
.grace-list-title{flex-direction:row; flex-wrap:nowrap; justify-content:space-between;}
.grace-list-title-text{font-size:26rpx; color:#333333; line-height:44rpx; width:700rpx; flex:1;}
.grace-list-title-desc{font-size:22rpx; color:#999999; line-height:36rpx;}
.grace-list-body-desc{font-size:22rpx; color:#999999; line-height:36rpx;}
.grace-list-arrow-right{font-size:36rpx; height:50rpx; line-height:50rpx; text-align:right; width:50rpx; color:#999999;}
/* 徽章 */
.grace-badge{border-radius:36rpx; height:36rpx; text-align:center; line-height:36rpx; padding:0 10rpx; font-size:22rpx; background-color:#D1D1D1;}
.grace-badge-absolute{position:absolute; right:0rpx; top:0rpx;}
.grace-badge-point{width:20rpx; height:20rpx; border-radius:12rpx; position:absolute; right:0; top:0; background-color:#FF0000;}
.grace-badge-gender{width:38rpx; height:38rpx; border-radius:30rpx; text-align:center; font-size:22rpx !important; line-height:38rpx; position:absolute; right:6rpx; top:4rpx; z-index:1;}
/* 滚动操作 */
.grace-scroll-do{flex-direction:row; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#F2F3F4; align-items:center;}
.grace-scroll-do-body{width:750rpx; flex-direction:row; align-items:center; flex-wrap:nowrap;}
.grace-scroll-do-img{width:90rpx; height:90rpx; margin:15rpx; border-radius:90rpx;}
.grace-scroll-do-content{width:750rpx; flex:1;}
.grace-scroll-do-title{font-size:28rpx; line-height:50rpx;}
.grace-scroll-do-txt{font-size:22rpx; line-height:50rpx; color:#666666;}
.grace-scroll-do-btns{width:120rpx; line-height:120rpx; text-align:center; font-size:32rpx; color:#FFFFFF;}
/* 新闻列表 */
.grace-news-list{margin-top:25rpx; padding-bottom:25rpx;}
.grace-news-item{flex-direction:row; flex-wrap:nowrap; margin:8rpx 0;}
.grace-news-img{width:220rpx; height:220rpx; border-radius:5rpx;}
.grace-news-img-l{margin-right:20rpx;}
.grace-news-img-r{margin-left:20rpx;}
.grace-news-body{width:750rpx; flex:1; flex-direction:column;}
.grace-news-title{line-height:40rpx; font-size:26rpx;}
.grace-news-desc{line-height:36rpx; color:#A5A7B2; font-size:22rpx; margin-top:8rpx;}
.grace-news-info{flex-direction:row; justify-content:space-between; margin-top:10rpx;}
.grace-news-info-text{font-size:22rpx; color:#999999;}
.grace-news-img-list{flex-direction:row; margin:10rpx 0; flex-wrap:wrap;  justify-content:space-between;}
.grace-news-imgs{width:225rpx; height:158rpx; margin:8rpx 0; font-size:0; border-radius:5rpx; overflow:hidden;}
.grace-news-imgs-img{width:225rpx; height:158rpx;}
/* 评论列表 */
.grace-comments{}
.grace-comments-items{flex-direction:row; flex-wrap:nowrap; padding:10rpx 0; margin:15rpx 0;}
.grace-comments-face{width:80rpx; height:80rpx; border-radius:80rpx; margin-right:25rpx;}
.grace-comments-body{width:700rpx; flex:1;}
.grace-comments-header{flex-direction:row; flex-wrap:nowrap; justify-content:space-between; margin-top:-4rpx; align-items:center;}
.grace-comments-header-text{color:#333333; font-size:26rpx; line-height:40rpx;}
.grace-comments-info{flex-direction:row; flex-wrap:nowrap; justify-content:space-between; align-items:center;}
.grace-comments-info-text{color:#999999; font-size:22rpx; line-height:40rpx; margin-top:10rpx;}
.grace-comments-content{line-height:36rpx; font-size:24rpx; color:#666666; padding:8rpx 0;}
.grace-comments-replay{background-color:#F5F6F8; font-size:24rpx; color:#666666; border-radius:3px; margin:3px 0; padding:20rpx; line-height:36rpx;}
.grace-comments-replay-btn{background-color:#F4F5F6; font-size:20rpx; line-height:44rpx; padding:0rpx 20rpx; border-radius:44rpx; margin:5px 0; color:#333 !important;}
.grace-comments-imgs{flex-direction:row; flex-wrap:wrap; margin:8rpx 0;}
.grace-comments-image{width:190rpx; height:138rpx; margin:5rpx; font-size:0; overflow:hidden;}
.grace-comments-img{width:190rpx; height:138rpx; border-radius:3rpx;}
/* 图文卡片 */
.grace-img-card{flex-direction:row; flex-wrap:wrap; justify-content:space-between;}
.grace-img-card-item{width:340rpx; overflow:hidden; font-size:0; position:relative; margin-bottom:26rpx;}
.grace-img-card-img{width:340rpx; height:220rpx;}
.grace-img-card-bgTitle{line-height:50rpx; width:340rpx; text-align:center; position:absolute; left:0; bottom:0; background-color:rgba(0,0,0,0.2); color:#FFFFFF; font-size:22rpx;}
.grace-img-card-title{font-size:26rpx; margin-top:3px; height:50rpx; line-height:50rpx;}
.grace-img-card-more{flex-direction:row; flex-wrap:wrap; justify-content:space-between; align-items:center; padding:6rpx 0;}
.grace-img-card-price{font-size:30rpx; color:#FF0036;}
.grace-img-card-btn{width:80rpx; border-width:1px; border-style:solid; border-color:#FF0036; line-height:30rpx; padding:6rpx 16rpx; border-radius:3px; font-size:20rpx; text-align:center; color:#FF0036;}
/* 普通标签 */
.grace-tags{padding:0 12rpx; line-height:36rpx; font-size:18rpx; background-color:#A5A7B2; color:#FFFFFF;}
.grace-tags-large{padding:0rpx 20rpx;  height:50rpx; line-height:50rpx; font-size:24rpx; background-color:#A5A7B2; color:#FFFFFF;}
.grace-tbr{border-radius:5rpx;}
.grace-tbr-large{border-radius:40rpx;}
.grace-capsule{flex-wrap:nowrap; flex-direction:row;}
.grace-capsule-icon{padding:0 15rpx; height:50rpx; line-height:50rpx; font-size:24rpx; background-color:#3688FF; color:#FFFFFF;}
.grace-icon-br{border-top-left-radius:3px; border-bottom-left-radius:3px;}
.grace-capsule-text{padding:0rpx 15rpx; line-height:50rpx; height:50rpx; font-size:24rpx; color:#3688FF; border-width:1px; border-style:solid; border-color:#3688FF;}
.grace-text-br{border-top-right-radius:3px; border-bottom-right-radius:3px;}
/* 名片卡片 */
.grace-card-view{margin-top:30rpx; margin-bottom:8rpx; border-radius:10rpx; background-color:#FFFFFF; padding:30rpx 25rpx;}
.grace-card-body{flex-direction:row; flex-wrap:nowrap; padding-bottom:30rpx;}
.grace-card-img{width:100rpx; height:100rpx; border-radius:80rpx;}
.grace-card-desc{width:700rpx; margin-left:30rpx; flex:1;}
.grace-card-title{flex-direction:row; align-items:center; flex-wrap:nowrap;}
.grace-card-name{font-size:28rpx; color:#333333; line-height:50rpx; margin-right:20rpx;}
.grace-card-text{line-height:50rpx; font-size:24rpx; color:#888888;}
.grace-card-footer{flex-direction:row; flex-wrap:nowrap; margin-top:20rpx; justify-content:space-between;}
.grace-card-footer-item{width:700rpx; text-align:center; flex:1; line-height:38rpx; font-size:26rpx; color:#666666;}
/* 标题信息 */
.grace-title{padding:10rpx 0; line-height:50rpx; font-weight:900; flex-direction:row; flex-wrap:nowrap; font-size:28rpx; align-items:center;}
.grace-title-text{font-size:28rpx; color:#333333; line-height:50rpx; width:750rpx; flex:1;}
.grace-line-title{flex-direction:row; flex-wrap:nowrap; align-items:center;}
.grace-line-title-line{width:500rpx; flex:1; height:1px; background-color:#F9F9F9;}
.grace-line-title-text{padding:0 80rpx; font-size:26rpx; color:#999999; line-height:80rpx;}
.grace-title-icon{width:50rpx; font-size:36rpx; margin-right:10rpx; color:#999999;}
.grace-title-border{width:8rpx; background-color:#3688FF; margin-right:16rpx; height:28rpx;}
/* 折叠面板 */
.grace-accordion{background-color:#FFFFFF;}
.grace-accordion-items{overflow:hidden;}
.grace-accordion-title{flex-direction:row; flex-wrap:nowrap; justify-content:space-between; padding:0 20rpx; align-items:center;}
.grace-accordion-title-text{line-height:88rpx; height:88rpx; font-size:28rpx;}
.grace-accordion-title-icon{width:88rpx; line-height:88rpx; font-size:28rpx; color:#999999; text-align:right;}
.grace-accordion-current{background-color:#F6F7F8;}
.grace-accordion-body{overflow:hidden;}
/* 普通表格 */
.grace-table{overflow:hidden;}
.grace-theader{border-top-width:1px; border-top-style:solid; border-top-color:#F1F1F1; border-left-width:1px; border-left-style:solid; border-left-color:#F1F1F1; flex-direction:row; flex-wrap:nowrap;}
.grace-td{width:375rpx; flex:1; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#F1F1F1; line-height:88rpx; text-align:center; font-size:24rpx; border-right-width:1px; border-right-style:solid; border-right-color:#F1F1F1;}
.grace-tbody{border-left-width:1px; border-left-style:solid; border-left-color:#F1F1F1; flex-direction:row; flex-wrap:nowrap;}
/* 滚动区域 */
.grace-scroll-x{flex-direction:row; flex-wrap:nowrap;}
.grace-scroll-x-items{width:300rpx; height:200rpx; margin:0 10rpx;}
.grace-scroll-y{font-size:0; height:200rpx;}
.grace-scroll-y-items{height:200rpx;}
/* 数据表格 */
.grace-stable{width:750rpx; background-color:#F5F6F8;}
.grace-stable-title{width:750rpx; position:fixed; left:0; top:0; background-color:#FFFFFF;}
.grace-stable-td{line-height:100rpx; width:200rpx; font-size:26rpx; text-align:center; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#F8F8F8;}
.grace-stable-l{width:200rpx; background-color:#FFFFFF;}
.grace-stable-r{width:550rpx; background-color:#FFFFFF; flex-direction:row; flex:1; overflow:hidden;}
.grace-stable-body{width:750rpx; padding-top:100rpx;}
.grace-stable-body-cl{width:200rpx;}
.grace-stable-fixed{background-color:#FFFFFF;}
/* 多功能菜单 - 纵向 */
.grace-popover-menu{width:100rpx; right:20rpx; bottom:88px; position:fixed;}
.grace-popover-menu-item{width:100rpx; height:100rpx; line-height:100rpx; text-align:center; font-size:60rpx; color:#FFFFFF; border-radius:100rpx; margin:20rpx 0; overflow:hidden;}
.grace-popover-menu-image{width:100rpx; height:100rpx; border-radius:100rpx;}
/* 多功能菜单 - 横向 */
.grace-popover-menu-x{width:750rpx; left:0px; bottom:36rpx; position:fixed; flex-direction:row; flex-wrap:nowrap; justify-content:center; align-items:center;}
.grace-popover-menu-x-item{width:80rpx; height:80rpx; line-height:80rpx; text-align:center; font-size:70rpx; margin:0 5rpx; border-radius:100rpx; margin:10rpx; overflow:hidden; background-color:#FFFFFF;}
.grace-popover-menu-x-image{width:80rpx; height:80rpx; border-radius:80rpx;}
.grace-popover-menu-xcenter{width:100rpx; height:100rpx; text-align:center; border-radius:100rpx; margin:0 10rpx; overflow:hidden;}
.grace-popover-menu-xcenter-text{font-size:28rpx !important; line-height:100rpx; width:100rpx; text-align:center;}
.grace-popover-menu-xcenter-image{width:100rpx; height:100rpx; border-radius:80rpx;}
/* 按钮修饰 */
.grace-button{font-size:28rpx; line-height:80rpx; padding:0; border-radius:6rpx;}
.grace-box-btn{width:80rpx; height:80rpx; line-height:80rpx; padding:0; text-align:center; font-size:50rpx;}

/* 模态对话框 按钮 */
.grace-dialog-buttons{width:700rpx; line-height:88rpx; height:88rpx; flex:1; overflow:hidden; text-align:center; font-size:26rpx; color:#999999;}
/* 表单 */
.grace-form{}
.grace-form-item{flex-direction:row; flex-wrap:nowrap; align-items:center;}
.grace-form-label{width:130rpx; height:100rpx; font-size:28rpx; line-height:100rpx; overflow:hidden; color:#888888;}
.grace-form-icon{width:60rpx; height:60rpx; line-height:60rpx; font-size:28rpx;}
.grace-form-body{width:700rpx; margin-left:20rpx; flex:1; overflow:hidden;}
.grace-form-input{height:80rpx; line-height:40rpx; text-align:right; padding:20rpx 0; color:#333333; font-size:26rpx;}
.grace-form-picker{flex-direction:row; flex-wrap:nowrap; justify-content:flex-end; align-items:center;}
.grace-check-item{margin:10rpx; padding:0 10rpx; font-size:26rpx; flex-direction:row; align-items:center;}
.grace-check-item-text{color:#888888; font-size:26rpx;}
.grace-textarea{height:120rpx; line-height:38rpx; font-size:26rpx; color:#333333;}
@font-face{font-family:"grace-formfonts"; src:url('data:application/x-font-woff;charset=utf-8;base64,OLh6+EVGahJS0OU2yaKO26Kiu6Zv+fbC+9P6l/wm8ZwtrOU5zo2XwdDjj7ilb9szx6Pz8hzzU1DUMrbXMHC2NbU15WTlxOxUdK2llbX0DSSdFF0GClXLlRPIOJppGChZi5s6MnpKNvaqMLkwKoD8NsI9B7wqBANQgCNQhGDQgBAwhFKwhHGhBeDCDCOAI2YElRARjiAS2EBlMIQx4iGInC9nJQTHaVXQA5F339094C5C50O4gBKhATdCAWWEFskIYcQBnigDbEBX2IBwYQHyQhIThBohj9KScAF0gKAuQMEpALsJAHSEG+/kuiIgA4aBqIoCiQhzQx6qgEABMoBTShNDCC5oAC1AQWUAuIQRYwhzaCM7QFGOgo6EHXQAn6DDbQJNjjczuo4gsok+FuApClC9pt9nPwK3ehR05loNUk');}
/* 轮播组件 */
.grace-swiper{height:200rpx; overflow:hidden;}
.grace-swiper-item{position:relative; overflow:hidden;}
.grace-swiper-image{}
.grace-swiper-title{height:68rpx; width:700rpx; line-height:68rpx; overflow:hidden; text-align:center; position:absolute; left:0; bottom:0; background-color:rgba(0, 0, 0, 0.2); color:#FFF; font-size:26rpx;}
.grace-common-line{height:20rpx; background-color:#F4F5F6;}